@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background: #555;
  border-radius: 0.1rem;
}
body::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 2rem;
}

/* Page Not Found */
.pagenotFound {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  animation: pnf 1s linear;
  padding: 0 1rem;
}
@keyframes pnf {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.pagenotFound > h1 {
  font-size: 5rem;
  font-weight: bold;
  color: orangered;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: -1px 2px 0 orangered, -2px 4px 0 #222, -3px 6px 0 #222,
    -4px 8px 0 #222, -5px 10px 0 #222, -6px 19px 50px #000,
    -19px 19px 150px #000;
}

.pagenotFound > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #111;
  line-height: 1.5;
  letter-spacing: 1px;
  text-shadow: -2px 2px 0 orangered, -4px 4px 0 #222, -19px 19px 50px #000;
}
.pagenotFound > a {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background: orangered;
  cursor: pointer;
  border-radius: 0.3rem;
  text-decoration: none;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.pagenotFound > a:hover {
  background: transparent;
  color: orangered;
  border: 2px solid orangered;
}

/* Heading Section */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  gap: 0.5rem;
}
.heading > span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  background: orangered;
  border-radius: 0.4rem;
  padding: 0.1rem 0.8rem;
  text-transform: capitalize;
  text-shadow: -1px 1px 0 rgb(255, 252, 251), -2px 2px 0 #222, -3px 3px 0 #222;
  animation: heading 3s linear;
}

@keyframes heading {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.button {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  background: orangered;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
}
.button:hover {
  /* background: rgb(241, 78, 18); */
  transform: scale(1.02);
}

/* Responsiveness */
@media (max-width: 700px) {
  .heading > span {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.1rem 0.7rem;
  }
}
@media (max-width: 480px) {
  .heading {
    letter-spacing: 1;
    gap: 0.3rem;
  }
  .heading > span {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.1rem 0.5rem;
  }
  .pagenotFound > h1 {
    font-size: 2.5rem;
    width: 100%;
  }
  .pagenotFound > h3 {
    font-size: 1.4rem;
  }
}
